.navigation{
    height: 65px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    &__menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        color: $color-white-600;

        text-decoration: none;
        
        &.inactive {
            color: $color-white-700;
            border-bottom: none;
        }
        &.active {
            color: $color-black-900;
            border-bottom: 2px solid $color-white-700;
        }
        &:hover {
            color: $color-black-900;
            font-weight: 600;
        }

    }
}